#admin {
  margin: 50px auto;
}

#admin h2 {
  color: yellow;
  font-size: 28px;
  padding-top: 50px;
  text-align: center;
}

#admin .target {
  margin-bottom: -3px;
}

#admin article {
  margin: auto;
  display: flex;
  color: white;
  font-size: 20px;
  max-width: 700px;
  padding: 15px 30px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #010508;
}

#admin img {
  width: 200px;
  height: 200px;
  padding: 50px;
  border-radius: 100%;
}

#admin h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

#admin small {
  color: #b9b8b8;
}

#admin .social {
  margin-top: 15px;
}

#admin a {
  margin-right: 20px;
  text-decoration: none;
}

#admin .youtube {
  color: red;
}

#admin .instagram {
  color: rgb(243, 82, 195);
}

#admin .icon {
  margin-bottom: -3px;
}

@media (max-width: 600px) {
  #admin h2 {
    padding-top: 0;
    font-size: 22px;
  }

  #admin article {
    flex-direction: column;
  }

  #admin img {
    padding: 30px;
  }

  #admin div {
    margin-bottom: 10px;
    text-align: center;
  }

  #admin h4 {
    margin-top: 0;
  }
}
