#dashboard {
  margin: 50px;
  color: white;
  text-align: center;
}

#dashboard article {
  text-align: left;
  max-width: 1000px;
  margin: 80px auto;
}

#dashboard form {
  margin: auto;
  display: flex;
  max-width: 500px;
  align-items: center;
  flex-direction: column;
}

#dashboard button {
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #fdf000;
}

#dashboard button:active {
  transform: scale(0.95);
}

#dashboard h2 {
  font-size: 28px;
  color: #fdf000;
  text-align: center;
}

#dashboard h3 {
  text-align: center;
}

#dashboard p {
  font-size: 20px;
}

#dashboard input,
#dashboard textarea {
  width: 100%;
  border: none;
  min-width: 250px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#dashboard .header header {
  position: static;
  border-radius: 10px;
}

#dashboard .preview section,
#dashboard .preview section article {
  margin: 0;
}

#dashboard .preview section h2 {
  display: none;
}

#dashboard .btns {
  text-align: center;
}

#dashboard .btns button {
  margin: 15px 5px;
}

@media (max-width: 600px) {
  #dashboard {
    margin: 50px 30px;
  }

  #dashboard h2 {
    font-size: 22px;
  }

  #dashboard p {
    font-size: 16px;
    padding: 0px 50px;
  }

  #dashboard div {
    margin: 40px auto;
  }
}
