aside {
  top: 130px;
  height: 70%;
  padding: 20px;
  min-width: 20%;
  font-size: 18px;
  color: white;
  position: sticky;
  border-radius: 10px;
  margin: 50px 50px 50px 0;
  background-color: #010508;
}

aside ul {
  margin: 0;
  padding: 20px;
  list-style: none;
}

aside li {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

aside li:hover {
  background-color: #2929294b;
}

aside li:hover .icon {
  color: #fdf000;
}

aside hr {
  width: 80%;
}

aside .icon {
  margin: 0 5px -3px 0;
}

@media (max-width: 1000px) {
  aside {
    display: none;
  }
}
